{{#x-outer}}
  {{#link-to "application"}}
    Hello World
  {{/link-to}}
{{/x-outer}}

<br><br>

{{#x-outer}}
  {{#x-inner}}
    Hello World
  {{/x-inner}}
{{/x-outer}}

<br><br>

{{#x-outer}}
  <div>
    Hello World
  </div>
{{/x-outer}}

<br><br>

{{#x-outer}}
  Hello World
{{/x-outer}}